body {
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --navy-blue-color: #2E2F42;
  --iris-color: #4D5AE5;
  --ocean-color: #404BBF;
  --cornflower-color: #E7E9FC;
  --white-color: #FFFFFF;
  --slate-color: #434455;
  --cloud-color: #F4F4FD;
  --green-color: #31D0AA;
  --light-slate-color: #8E8F99;
  --navy-blue-modal-color: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7);
}

.container{
  width: 1158px;
  padding: 0 15px;
  /* outline: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p, ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */

.page-header {
  border-bottom: 1px solid var(--light-slate-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}


.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
  margin-right: 76px;
}

.logo span {
  color: var(--navy-blue-color);
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean-color);
}

.header-contacts{
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  font-style: normal;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean-color);
}

/* MAIN */

/* HERO */

.hero {
  background-color: var(--navy-blue-color);
  padding-bottom: 188px;
  padding-top: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 48px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background: var(--cloud-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.hero-btn {
  font-family: inherit;
  display: block;
  margin: 0 auto;
  height: 56px;
  min-width: 169px;
  font-size: 16px;
  color: var(--white-color);
  background-color: var(--iris-color);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--white-color);
  background: var(--ocean-color);
}

/* SECTION-1 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature {
  padding: 120px 0;
}

.work-features {
  display: flex;
  gap: 24px;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.feature-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/* SECTION-2 */

.about {
  padding-bottom: 120px;
}

.img-job {
  display: flex;
  gap: 24px;
}

.section-titel {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}

/* SECTION-3 */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow:0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item:last-child {
  padding-bottom: 0;
}

.team-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.team-work {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}


/* FOOTER */

.footer {
  background-color: var(--navy-blue-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo{
  display: block;
  margin-bottom: 16px;
  margin-right: 0;
}

span.white {
  color: var(--white-color);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower-color);
  width: 264px;
}

/* PORTFOLIO */

/* HEADER */

.header-line {
  border-bottom: 1px solid var(--cornflower-color);
}

/* MAIN */

.menu-filter-buttons {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.buttons {
  padding: 12px 24px;
}

.project-card-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.project-item {
  padding-bottom: 32px;
}

.project-item-text {
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
border: 1px solid var(--cornflower-color);
border-top: none;
}